
.tags {
    overflow: hidden;
  }
  .tagcontent {
    margin: 10px;
    display: none;
  }
  .good {
    caret-color: #10b981;
  }
  .warning {
    caret-color: #FCD34D;
  }
  .danger {
    caret-color: red;
  }